{{ include('_header.twig') }}

        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2">Countries Listed</th>
            </tr>
          </thead>
          <tbody>

            {% for country in countries %}
  
            <tr>
              <td>
                <a href="{{ www }}business/country/{{ country.id }}">{{ country.name }}</a>
              </td>
            </tr>
  
            {% endfor %}
  
          </tbody>
        </table>


{{ include('_footer.twig') }}