        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="3">All Businesses</th>
            </tr>
          </thead>
          <tbody>

            {% for biz in businesses %}
  
            <tr>
              <td><a href="{{ www }}business/country/{{ biz.addressCountry }}">{{ biz.addressCountry }}</a></td>
              <td><a href="{{ www }}business/lookup/{{ biz.id }}/">{{ biz.name }} </a></td>
              <td><a href="{{ www }}business/category/{{ biz.categoryObj.id }}/">{{ biz.categoryObj.name }}</a></td>
            </tr>
  
            {% endfor %}
  
          </tbody>
        </table>