{{ include('page/start.twig') }}

<h1>&lt;?PHP Projects</h1>

<div id="projects">
{% if projects is defined %}
  
  {% for project in projects %}
    
  <div class="project">
    <a href="{{www}}project/{{project.id}}/">
      
      <div class="project-image">
        <img src="{{ www }}images/{{ project.imgurl }}" alt="{{ project.title }}"/>
      </div>
      
      <div class="project-title">
        {{- project.title -}}
      </div>

    </a>
  </div>
  
  {% endfor %}
  
{% else %}

  <p>No projects found.</p>
  
{% endif %}
</div>
{{ include('page/end.twig') }}