{{ include('_header.twig') }}


<div id="nav-list" class="text-center">
  <ul>
    <li><a href="{{www}}php/">&lt;PHP/&gt;</a></li>
    <li><a href="{{www}}python/">&lt;Python/&gt;</a></li>
    <li><a href="{{www}}contact/"><i class="fa fa-envelope"></i>Contact</a></li>
  </ul>
</div>

{{ include('_footer.twig') }}